<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Placeholder Co. Shift Swap</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center">
  <img src="/placeholderlogo1.png" id="landingLogo">
</div>



<div class="jumbotron" id="landingJumbo">
  <div class="container">
    <h1 class="display-4">Welcome to Placeholder Co. Shift Swap</h1>
    <p class="lead">Here you can view available shift trades, and submit your own.</p>
    <hr class="my-4">
    <a class="btn btn-lg btn-custom" id="btn-landing" href="/login" role="button">start swapping</a>
  </div>
</div>
</body>
</html>